/*
Evo Slider Pro v2.1.2 - jQuery Slideshow and Content Slider Plugin
http://evoslider.com

Copyright 2012, Fikri Rakala

Skin Name: Evo Slider Default Theme
*/ 

/*
TABLE OF CONTENTS

01 SLIDER
02 TOGGLE ICON/INDEX
03 DIRECTION NAVIGATION
04 CONTROL NAVIGATION (BULLETS, THUMBNAILS, ROTATOR)
05 PLAY/PAUSE BUTTON
06 CONTENT
07 TEXT DESCRIPTION
*/
 
 
/*  _______________________________________

	01 SLIDER
    _______________________________________  */
	
/* Container / frame surrounding the slider */
.evoslider.default
{
	position: relative;
	width :1200px; /* set width via option */
	height :450px; /* set height via option */
    margin: 0 auto;
	border: 0px solid #fafafa;
	padding: 0px;
	padding-right: 0px;
	background :#;
	
	/* shadow */
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Color=#4e4e4e, direction=120, strength=5)";
    filter: progid:DXImageTransform.Microsoft.Shadow(Color=#4e4e4e, direction=120, strength=5);  
}

/* Content preloader 
.evoslider.default .contentLoader
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	background: #000 url('spinner.gif') no-repeat center;
}
*/

/* You can set up the border of the dl element here  */
.evoslider.default dl
{
	border: 0;
}

/*
Slider title bar.

The title bar are rotated, so you will need to swap your directions.
To change the width of the title bar, you will need to modify the height property.
You will also need to make sure that any background imagery used is rotated horizontally.

To give unique custom appearance for each title, you can give a unique class for each title, for example:
	.evoslider dt.slide_1
	.evoslider dt.slide_2
	.evoslider dt.slide_3
	etc...
*/ 
.evoslider.default dt
{
	height : 45px;
    color :#4e4e4e;
    font-family :Arial , Verdana;
    font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing :1px;
	line-height: 40px;
	text-align : left;
	padding-left: 70px;
    background: #d3d3d3 url('title_bar.png') no-repeat;
    
    /* text shadow */
	text-shadow: -1px 1px 1px #9f9f9f;
}

/* The hover state of the title bar */ 
.evoslider.default dt:hover
{
	cursor :pointer ;
}

/* The active state of the title bar */
.evoslider.default dt.active
{
	cursor :default;
}

/* 
The slide content area

The width and height will automatically be defined by the plugin.
*/
.evoslider.default dd 
{
	background: #fff;
}

.evoslider.default dd .evoImage img
{
	width: 100%;
	height: 100%;
}


/*  _______________________________________

	02 TOGGLE ICON/INDEX
    _______________________________________  */

/* 
The toggle icon of title bar.

You can specify the position of the icon by setting its left and top position.
You can set the toggle icon for the default, hover, and active state via the background property.
To display index, set the showToggleIndex plugin option to true.
*/
.evoslider.default dt .toggle_icon
{
	left : 5px;
	top: 0;
	width: 40px;
	height: 40px;
	font-family: Arial, Verdana ;
    font-size: 18px;
	font-weight: bold;
	color :#4e4e4e;
	text-align: center ;
	
	/* text shadow*/
	text-shadow: 0 1px 1px #9f9f9f;	
}

/* Toggle icon position for ie8+  */
.evoslider.default dt .toggle_icon.ie 
{
	left: 0;
	top: auto;
	bottom: 5px;
}

/* The hover state of the toggle icon */ 
.evoslider.default dt:hover .toggle_icon
{
	color: #4e4e4e;
}

/* The active state of the toggle icon */
 
.evoslider.default dt.active .toggle_icon
{
	color : #4e4e4e;
}


/*  _______________________________________

	03 DIRECTION NAVIGATION
    _______________________________________  */

/* The arrow next */
.evoslider.default .arrow_next 
{
	border-style: none;
	border-color: inherit;
	border-width: 0;
	position :absolute;
		right : 10px;
		top : 150px;
		width : 35px;
		height : 34px;
	
		cursor : pointer;
		margin :0;
		padding :0;
		text-decoration: none;
}

/* The hover state of the arrow next */
.evoslider.default .arrow_next:hover
{
	cursor: pointer;
}

/*
The state of the arrow next on the last item 
when the loop option is set to false. 
*/
.evoslider.default .arrow_next.last
{
	cursor: default ; 
}

/* The arrow prev 
.evoslider.default .arrow_prev 
{
	border-style: none;
	border-color: inherit;
	border-width: medium;
	position :absolute;
		left: 10px;
		top: 150px;
		width: 35px;
		height: 34px;
	background : url('arrows.png') no-repeat 0 0;
		cursor :pointer;
		margin :0;
		padding :0;
		text-decoration: none;
}
*/

/* The hover state of the arrow prev */
.evoslider.default .arrow_prev:hover 
{
	cursor: pointer;
}

/* 
The state of the arrow prev on the first item,
when the loop option is set to false. 
*/
.evoslider.default .arrow_prev.first
{
	cursor :default ;
}


/*  _______________________________________

	04 CONTROL NAVIGATION (BULLETS, THUMBNAILS, ROTATOR)
    _______________________________________  */

/* The container of the control if set to outside */
.evoslider.default .outer_control
{
	margin: 0;
	padding: 0;
	border: 0;
	
}

/* Control navigation container */
.evoslider.default .controlNav 
{
	left : 0px;
	bottom : 10px;
	margin :0;
	border : 0;
}

.evoslider.default .control_wrapper 
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/* Control list */
.evoslider.default .controlNav ul 
{
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 0;
}

/* The bullets control */
.evoslider.default .controlNav li.bullets 
{
	width : 20px;
	height : 20px;
	margin : 5px;
	padding :0;
	border :none;
	background : #eee;
	overflow: visible;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
	color: #4e4e4e;
}

/* Bullet last item */
.evoslider.default .controlNav li.bullets.last 
{
}

/* The hover state of the bullets control */
.evoslider.default .controlNav li.bullets:hover
{
	background: #4e4e4e;
	color: #fafafa;
}

/* The active state of the bullets control */
.evoslider.default .controlNav li.bullets.active 
{
	background: #4e4e4e;
	color: #fafafa;
}

/* Thumbnails control */
.evoslider.default .controlNav li.thumbnails 
{
	width : 113px;
	height : 72px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding :0;
	border :none;
	background : #eee;
	overflow: visible;
}

/* Thumbnail last item */
.evoslider.default .controlNav li.thumbnails.last 
{
	margin-right: 5px;
}

/* The hover state of the thumbnail item */
.evoslider.default .controlNav li.thumbnails:hover
{
	background: #4e4e4e;
}

/* The active state of the thumbnail */
.evoslider.default .controlNav li.thumbnails.active 
{
	background: #4e4e4e;
}

/* Overlay effect */
.evoslider.default .controlNav li.thumbnails .overlay 
{
	background-color: #FFF;
	opacity: 0.5;
	filter: alpha(opacity=50);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

/* The hover state of the overlay effect */
.evoslider.default .controlNav li.thumbnails:hover .overlay
{
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

/* The active state of the overlay effect */
.evoslider.default .controlNav li.thumbnails.active .overlay 
{
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}


/* Rotator list navigation */
.evoslider.default .controlNav li.rotator 
{
	width : 200px;
	height : 80px;
	margin : 5px;
	padding :0;
	border :none;
	background : #eee;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
	color: #4e4e4e;
}

/* Rotator last item */
.evoslider.default .controlNav li.rotator.last 
{
}

/* Rotator list thumbnails */
.evoslider.default .controlNav li.rotator img 
{
	width: 60px;
	height: 60px;
	float: left;
	margin: 10px;
}

/* Rotator title */
.evoslider.default .controlNav li.rotator p
{
	margin-top: 5px;
	text-align: left;
}

.evoslider.default .controlNav li.rotator p span.title
{
	display: block;
	font-weight: bold;
}

.evoslider.default .controlNav li.rotator p span.date
{
	display: block;
	font-style: italic ;
}

/* The hover state of the rotator list */
.evoslider.default .controlNav li.rotator:hover
{
	cursor: pointer;
}

/* The active state of the rotator list */
.evoslider.default .controlNav li.rotator.active 
{
	cursor : default ;
}



/*  _______________________________________

	06 CONTENT
    _______________________________________  */

/* Image container 
.evoslider.default .evoImage 
{
	background: #000 url('spinner.gif') no-repeat center;
}
*/

.evoslider.default .evoImage .videoOverlay
{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: url('video.png') no-repeat center;
	cursor: pointer;
}

/* Video container 
.evoslider.default .evoVideo 
{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000 url('spinner.gif') no-repeat center;
}
*/

/* Embed object container */
evoslider.default .evoEmbed 
{
	background-color: #000;
	float: left;
}

evoslider.default dd .evoEmbed img
{
	max-width: 100%;
	height: 100%;
}


/*  _______________________________________

	07 TEXT DESCRIPTION
    _______________________________________  */

/* Overlay text */
.evoslider.default .evoText.overlay 
{
	left: 10px;
	top: 10px;
	width: 300px;
	height: 90px;
	color: #fff;
	background: #252525;
	padding: 10px 20px;

	opacity: 0.9;
	filter: alpha(opacity=90);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

/* title */
.evoslider.default .evoText.overlay h3 {
	color: #a1a37f;
	font-size: 14px;
	padding-bottom: 5px;
	color: #f7f7f7;
	margin-bottom: 0;
	font-weight: bold;
}

/* description */
.evoslider.default .evoText.overlay p {
	padding-bottom: 0px;
	padding-top: 5px;
	color: #bcbcbc;
}

/* read more button */
.evoslider.default .evoText.overlay a.readMore 
{
	font-size: 11px;
	color: #f7f7f7;
	padding: 3px 7px;
	background: #db7030;
	display: inline-block;
	margin-top: 15px;
	text-decoration: none;
}

/* Partial left */
.evoslider.default .evoText.partialleft 
{
	width: 250px;
	background-color: #FAFAFA;
	padding: 20px;
}

/* title */
.evoslider.default .evoText.partialleft h3 {
	font-size: 14px;
	padding-bottom: 5px;
	margin-bottom: 0;
	font-weight: bold;
	color: #4e4e4e;
}

/* description */
.evoslider.default .evoText.partialleft p {
	padding-bottom: 0px;
	padding-top: 5px;
	color: #4e4e4e;
}

/* read more button */
.evoslider.default .evoText.partialleft a.readMore 
{
	font-size: 11px;
	color: #f7f7f7;
	padding: 3px 7px;
	background: #db7030;
	display: inline-block;
	margin-top: 15px;
	text-decoration: none;
}

/* Partial right */
.evoslider.default .evoText.partialright 
{
	width: 250px;
	background-color: #FAFAFA;
	padding: 20px;
}

/* title */
.evoslider.default .evoText.partialright h3 {
	font-size: 14px;
	padding-bottom: 5px;
	margin-bottom: 0;
	font-weight: bold;
	color: #4e4e4e;
}

/* description */
.evoslider.default .evoText.partialright p {
	padding-bottom: 0px;
	padding-top: 5px;
	color: #4e4e4e;
}

/* read more button */
.evoslider.default .evoText.partialright a.readMore 
{
	font-size: 11px;
	color: #f7f7f7;
	padding: 3px 7px;
	background: #db7030;
	display: inline-block;
	margin-top: 15px;
	text-decoration: none;
}

/* Outer text */
.evoslider.default .outerText 
{
	width: 250px;
	background-color: #FAFAFA;
	padding: 20px;
}

.evoslider.default .outerText h3 {
	font-size: 16px;
	padding-bottom: 5px;
	margin-bottom: 0;
	font-weight: bold;
	color: #4e4e4e;
}

.evoslider.default .outerText p {
	padding-bottom: 0px;
	padding-top: 5px;
	color: #4e4e4e;
}