<h1>Customers</h1>

<table class="table table-striped">

  <thead>
  <tr>
    <th>QB</th>
    <th>Portal</th>
    <th>Label</th>
  </tr>
  </thead>
  <tbody>
  <tr class="table-primary">
    <td>full_name</td>
    <td>Cust_CompanyAbr</td>
    <td>Customer Name</td>
  </tr>
  <tr>
    <td>company_name</td>
    <td>Cust_Company</td>
    <td>Company Name</td>
  </tr>
  <tr>
    <td>salutation</td>
    <td>Cust_NameSalutation</td>
    <td>Full Name[]</td>
  </tr>
  <tr>
    <td>first_name</td>
    <td>Cust_NameFirst</td>
    <td>Full Name[]</td>
  </tr>
  <tr>
    <td>middle_name</td>
    <td>Cust_NameMiddle</td>
    <td>Full Name[]</td>
  </tr>
  <tr>
    <td>last_name</td>
    <td>Cust_NameLast</td>
    <td>Full Name[]</td>
  </tr>
  <tr>
    <td>phone</td>
    <td>Cust_PhoneOffice</td>
    <td>Main Phone</td>
  </tr>
  <tr>
    <td>email</td>
    <td>Cust_EmailTo</td>
    <td>Main Email</td>
  </tr>
  <tr>
    <td>alt_phone</td>
    <td>Cust_PhoneAlt</td>
    <td>Alt. Phone</td>
  </tr>
  <tr>
    <td>cc</td>
    <td>Cust_EmailCC</td>
    <td>CC Email</td>
  </tr>
  <tr class="table-danger">
    <td>additional_contact_ref[contact_value] where additional_contact_ref['contact_name = 'mobile]</td>
    <td>Cust_PhoneCell</td>
    <td>Mobile</td>
  </tr>
  <tr>
    <td>fax</td>
    <td>Cust_PhoneFax</td>
    <td>Fax</td>
  </tr>
  <tr>
    <td>bill_addr1</td>
    <td>Cust_BillTo_Company</td>
    <td>Invoice/BillTo['Company']</td>
  </tr>
  <tr>
    <td>bill_addr2</td>
    <td>Cust_BillTo_Name</td>
    <td>Invoice/BillTo['Att. Name']</td>
  </tr>
  <tr>
    <td>bill_addr3</td>
    <td>Cust_BillTo_Address1</td>
    <td>Invoice/BillTo['Address']</td>
  </tr>
  <tr>
    <td>bill_addr4</td>
    <td>Cust_BillTo_Address2</td>
    <td>Invoice/BillTo['Address2']</td>
  </tr>
  <tr>
    <td>bill_city</td>
    <td>Cust_BillTo_City</td>
    <td>Invoice/BillTo['City']</td>
  </tr>
  <tr>
    <td>bill_state</td>
    <td>Cust_BillTo_State</td>
    <td>Invoice/BillTo['State']</td>
  </tr>
  <tr>
    <td>bill_postal_code</td>
    <td>Cust_BillTo_Zip</td>
    <td>Invoice/BillTo['Zip']</td>
  </tr>
  <tr>
    <td>ship_addr1</td>
    <td>Cust_ShipTo_Company</td>
    <td>Ship To['Company']</td>
  </tr>
  <tr>
    <td>ship_addr2</td>
    <td>Cust_ShipTo_Name</td>
    <td>Ship To['Name']</td>
  </tr>
  <tr>
    <td>ship_addr3</td>
    <td>Cust_ShipTo_Address1</td>
    <td>Ship To['Address']</td>
  </tr>
  <tr>
    <td>ship_addr4</td>
    <td>Cust_ShipTo_Address2</td>
    <td>Ship To['Address2']</td>
  </tr>
  <tr>
    <td>ship_city</td>
    <td>Cust_ShipTo_City</td>
    <td>Ship To['City']</td>
  </tr>
  <tr>
    <td>ship_state</td>
    <td>Cust_ShipTo_State</td>
    <td>Ship To['State']</td>
  </tr>
  <tr>
    <td>ship_postal_code</td>
    <td>Cust_ShipTo_Zip</td>
    <td>Ship To['Zip']</td>
  </tr>
  <tr>
    <td>(case is_active when 0 then "X" else "" end)</td>
    <td>Cust_InactiveFlag</td>
    <td>Customer is inactive</td>
  </tr>
  <tr class="table-danger">
    <td>list_id</td>
    <td>list_id</td>
    <td>-</td>
  </tr>

  </tbody>
</table>

<hr/>

<h2 class="text-center">EXTRA FIELDS</h2>

<table class="table table-striped">
  <thead>
  <tr>
    <th>QB</th>
    <th>Portal</th>
    <th>Label</th>
  </tr>
  </thead>
  <tbody>
  <tr class="table-danger">
    <td>site_contact</td>
    <td>site_contact</td>
    <td>Site Contact</td>
  </tr>
  <tr class="table-danger">
    <td>site_email</td>
    <td>site_email</td>
    <td>Site Email</td>
  </tr>
  <tr class="table-danger">
    <td>site_phone</td>
    <td>site_phone</td>
    <td>Site Phone</td>
  </tr>
  <tr class="table-danger">
    <td>sales_rep</td>
    <td>sales_rep (in SB; Cust_Rep in Thresher)</td>
    <td>Rep</td>
  </tr>
  </tbody>

</table>

<div class="alert alert-info">
  <h4 class="alert-heading">Mysql Alter Tables Statements - Customers</h4>
  <p>ALTER TABLE Customers DROP COLUMN Cust_Address1;
  ALTER TABLE Customers DROP COLUMN Cust_Address2;
  ALTER TABLE Customers DROP COLUMN Cust_BillTo_Country;
  ALTER TABLE Customers DROP COLUMN Cust_City;
  ALTER TABLE Customers DROP COLUMN Cust_CLNo;
  ALTER TABLE Customers DROP COLUMN Cust_ContactAlt;
  ALTER TABLE Customers DROP COLUMN Cust_Country;
  ALTER TABLE Customers DROP COLUMN Cust_NameAltFull;
  ALTER TABLE Customers DROP COLUMN Cust_NameFull;
  ALTER TABLE Customers DROP COLUMN Cust_PONo;
  ALTER TABLE Customers DROP COLUMN Cust_Rep;
  ALTER TABLE Customers DROP COLUMN Cust_SaleTaxCode;
  ALTER TABLE Customers DROP COLUMN Cust_ShipTo_Country;
  ALTER TABLE Customers DROP COLUMN Cust_ShipTo_Email;
  ALTER TABLE Customers DROP COLUMN Cust_ShipTo_Phone;
  ALTER TABLE Customers DROP COLUMN Cust_State;
  ALTER TABLE Customers DROP COLUMN Cust_Terms;
  ALTER TABLE Customers DROP COLUMN Cust_Type;
  ALTER TABLE Customers DROP COLUMN Cust_Zip;
  ALTER TABLE Customers ADD list_id varchar(41) NOT NULL DEFAULT "";
  ALTER TABLE Customers ADD sales_rep varchar(5) NOT NULL DEFAULT "";
  ALTER TABLE Customers ADD site_contact varchar(5) NOT NULL DEFAULT "";
  ALTER TABLE Customers ADD site_email varchar(5) NOT NULL DEFAULT "";
    ALTER TABLE Customers ADD site_phone varchar(5) NOT NULL DEFAULT "";</p>

  <div>AFTER FIRST PASS:</div>
  <p>ALTER TABLE Customers ADD UNIQUE KEY `list_id` (`list_id`) USING BTREE;</p>
</div>

<div class="alert alert-info">
  <h4 class="alert-heading">Mysql Grant Statement - qb user on Thresher and ThresherSB</h4>
  GRANT SELECT, INSERT, UPDATE (`Cust_BillTo_Address1`, `Cust_BillTo_Address2`, `Cust_BillTo_City`, `Cust_BillTo_Company`, `Cust_BillTo_Name`, `Cust_BillTo_State`, `Cust_BillTo_Zip`, `Cust_Company`, `Cust_CompanyAbr`, `Cust_EmailCC`, `Cust_EmailTo`, `Cust_InactiveFlag`, `Cust_NameFirst`, `Cust_NameLast`, `Cust_NameMiddle`, `Cust_NameSalutation`, `Cust_PhoneAlt`, `Cust_PhoneCell`, `Cust_PhoneFax`, `Cust_PhoneOffice`, `Cust_ShipTo_Address1`, `Cust_ShipTo_Address2`, `Cust_ShipTo_City`, `Cust_ShipTo_Company`, `Cust_ShipTo_Name`, `Cust_ShipTo_State`, `Cust_ShipTo_Zip`,`list_id`,  `sales_rep`, `site_contact`, `site_email`, `site_phone`) ON `ThresherSB`.`Customers` TO 'qb'@'%';
  GRANT SELECT, INSERT, UPDATE (`Cust_BillTo_Address1`, `Cust_BillTo_Address2`, `Cust_BillTo_City`, `Cust_BillTo_Company`, `Cust_BillTo_Name`, `Cust_BillTo_State`, `Cust_BillTo_Zip`, `Cust_Company`, `Cust_CompanyAbr`, `Cust_EmailCC`, `Cust_EmailTo`, `Cust_InactiveFlag`, `Cust_NameFirst`, `Cust_NameLast`, `Cust_NameMiddle`, `Cust_NameSalutation`, `Cust_PhoneAlt`, `Cust_PhoneCell`, `Cust_PhoneFax`, `Cust_PhoneOffice`, `Cust_ShipTo_Address1`, `Cust_ShipTo_Address2`, `Cust_ShipTo_City`, `Cust_ShipTo_Company`, `Cust_ShipTo_Name`, `Cust_ShipTo_State`, `Cust_ShipTo_Zip`,`list_id`,  `sales_rep`, `site_contact`, `site_email`, `site_phone`) ON `Thresher`.`Customers` TO 'qb'@'%';
</div>

<div class="alert alert-info">
  <h4 class="alert-heading">Mysql Grant Statement - sblord user</h4>
  <p>First revoke all permissions, then re-add global select. Then add update/delete/insert ONLY to tables needed.</p>
  GRANT USAGE ON `ThresherSB`.* TO 'sblord'@'%';
  GRANT SELECT ON `ThresherSB`.* TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`access_log` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Classes_Certs` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Classes_Certs_Join_Req` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Classes_Certs_List_Tier` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`cts_answers` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`ConstTracker` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`cts_answers` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Customers_Logos` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Deliveries` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`DeliveryItems` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Departments` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Employees` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Employees_Badges` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Employees_Cert` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Employees_Cert_Todo` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Employees_List_Size` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Employees_List_Title` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Employees_NDAs` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`groups` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Holidays` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`inventory` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`job_phases` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`List_Salutation` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`membership` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Menu` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`menu_items` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`PaymentMethod` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Payments` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`permissions` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Pictures` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Project` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`ProjectCrew` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`ProjectEstimates` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`ProjectNoteTypes` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`ProjectRoles` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`ProjectRoleTypes` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`ProjectSiteAssessment` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Project_List_Status` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Project_Serials` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Project_Transactions` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`qDocuments` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`qDocuments_Transactions` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`qEstimates` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`qEstimates_Transactions` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`qInvoices` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`qInvoices_List_Status` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`qInvoices_List_Terms` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`qInvoices_List_Via` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`qInvoices_Log` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`qInvoices_Transactions` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`qPurchaseOrders` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`qPurchaseOrders_List_Status` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`qPurchaseOrders_Transactions` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`qSalesOrders` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`qSalesOrdersTracker` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`qSalesOrders_List_Status` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`qSalesOrders_Transactions` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`qShipments` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Review` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Review_Answers` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Review_Categories` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Review_Dates` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Review_Questions` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Review_Questions_Join_Titles` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`RMA` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`RMA_Assignment` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`RMA_AutoAssignment` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`RMA_AutoAssignment_Assignment` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`RMA_List_Escalation` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`RMA_List_Status` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`RMA_List_Type` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`RMA_Transactions` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`SalesLead_Transactions` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Schedule` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Skill_Assessment_Answers` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Skill_Assessment_Cat1` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Skill_Assessment_Cat2` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Skill_Assessment_Cat3` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Skill_Assessment_Cat4` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Skill_Assessment_Questions` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Skill_Assessment_Ranges` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Skill_Assessment_Types` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`StartPage_Alert` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Tickets` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Tickets_Assignment` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Tickets_AutoAssignment` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Tickets_AutoAssignment_Assignment` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Tickets_Email_Remind` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Tickets_Flag` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Tickets_List_Escalation` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Tickets_List_Maint_Status` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Tickets_List_Status` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Tickets_List_Type` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Tickets_Transactions` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`TimeCards` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`TimeCardTrans` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`TimePunch` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`users` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`Vendor` TO 'sblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `ThresherSB`.`weekly_crew_notes` TO 'sblord'@'%';
  GRANT SELECT, UPDATE (`Customers_PKEY`, `CreationTimeStamp`, `CreationUser`, `LastModificationTimeStamp`, `LastModificationUser`, `Cust_BillTo_Email`, `Cust_AP_Name`, `Cust_BillTo_Phone`) ON `ThresherSB`.`Customers` TO 'sblord'@'%';
</div>


<div class="alert alert-info">
  <h4 class="alert-heading">Mysql Grant Statement - dblord user</h4>
  <p>First revoke all permissions, then re-add global select. Then add update/delete/insert ONLY to tables needed.</p>
  GRANT USAGE ON `Thresher`.* TO 'dblord'@'%';
  GRANT SELECT ON `Thresher`.* TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`access_log` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Classes_Certs` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Classes_Certs_Join_Req` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Classes_Certs_List_Tier` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`cts_answers` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`ConstTracker` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`cts_answers` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Customers_Logos` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Deliveries` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`DeliveryItems` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Departments` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Employees` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Employees_Badges` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Employees_Cert` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Employees_Cert_Todo` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Employees_List_Size` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Employees_List_Title` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Employees_NDAs` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`groups` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Holidays` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`inventory` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`job_phases` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`List_Salutation` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`membership` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Menu` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`menu_items` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`PaymentMethod` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Payments` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`permissions` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Pictures` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Project` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`ProjectCrew` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`ProjectEstimates` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`ProjectNoteTypes` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`ProjectRoles` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`ProjectRoleTypes` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`ProjectSiteAssessment` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Project_List_Status` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Project_Serials` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Project_Transactions` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`qDocuments` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`qDocuments_Transactions` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`qEstimates` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`qEstimates_Transactions` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`qInvoices` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`qInvoices_List_Status` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`qInvoices_List_Terms` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`qInvoices_List_Via` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`qInvoices_Log` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`qInvoices_Transactions` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`qPurchaseOrders` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`qPurchaseOrders_List_Status` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`qPurchaseOrders_Transactions` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`qSalesOrders` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`qSalesOrdersTracker` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`qSalesOrders_List_Status` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`qSalesOrders_Transactions` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`qShipments` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Review` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Review_Answers` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Review_Categories` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Review_Dates` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Review_Questions` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Review_Questions_Join_Titles` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`RMA` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`RMA_Assignment` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`RMA_AutoAssignment` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`RMA_AutoAssignment_Assignment` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`RMA_List_Escalation` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`RMA_List_Status` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`RMA_List_Type` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`RMA_Transactions` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`SalesLead_Transactions` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Schedule` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Skill_Assessment_Answers` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Skill_Assessment_Cat1` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Skill_Assessment_Cat2` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Skill_Assessment_Cat3` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Skill_Assessment_Cat4` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Skill_Assessment_Questions` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Skill_Assessment_Ranges` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Skill_Assessment_Types` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`StartPage_Alert` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Tickets` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Tickets_Assignment` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Tickets_AutoAssignment` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Tickets_AutoAssignment_Assignment` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Tickets_Email_Remind` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Tickets_Flag` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Tickets_List_Escalation` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Tickets_List_Maint_Status` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Tickets_List_Status` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Tickets_List_Type` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Tickets_Transactions` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`TimeCards` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`TimeCardTrans` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`TimePunch` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`users` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`Vendor` TO 'dblord'@'%';
  GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON `Thresher`.`weekly_crew_notes` TO 'dblord'@'%';
  GRANT SELECT, UPDATE (`Customers_PKEY`, `CreationTimeStamp`, `CreationUser`, `LastModificationTimeStamp`, `LastModificationUser`, `Cust_BillTo_Email`, `Cust_AP_Name`, `Cust_BillTo_Phone`) ON `Thresher`.`Customers` TO 'dblord'@'%';
</div>

