

<ol>
  <li>Determine which fields are coming from Quickbooks and which portal fields will now be written by the Web
    Connector.
  </li>
  <li>Backup the table we're about to muddle with.</li>
  <li>Add qb user to the portal fields that it will be manipulating AND restructure the table as needed. (Export new table structures for reference).</li>
  <li>Change QBWC code to write field values to the portal as determined by step 1.</li>
  <li>Warn all users that we're about to sync whatever table with Quickbooks</li>
  <li>Run first test sync.</li>
  <li>Human verification of GREAT SUCCESS</li>
  <li>Remove the db lord permissions (adjust form values where necessary, i.e., from input fields to labels.)</li>
  <li>Tell users we're done with the sync and all adds/mods must be done in Quickbooks now</li>

</ol>




<hr/>

<h3>TO DO:</h3>
<ol>
<li>Grab list id and add to client/job</li>
<li>Billing/shipping addresses add to jobs table</li>
<li>Add full name column to jobs</li>
</ol>