<h1>Jobs</h1>

<table class="table table-striped">

  <thead>
  <tr>
    <th>QB</th>
    <th>Portal</th>
    <th>Label</th>
  </tr>
  </thead>
  <tbody>
  <tr class="table-primary">
    <td>full_name</td>
    <td>(some crazy match)</td>
    <td>(Breadcrumb)</td>
  </tr>
  <tr>
    <td>name</td>
    <td>Job_Qb_JobName</td>
    <td>- (breadcrub)</td>
  </tr>
  <tr>
    <td>salutation</td>
    <td>Job_NameSalutation</td>
    <td>Full Name[]</td>
  </tr>
  <tr>
    <td>first_name</td>
    <td>Job_NameFirst</td>
    <td>Full Name[]</td>
  </tr>
  <tr>
    <td>middle_name</td>
    <td>Job_NameMiddle</td>
    <td>Full Name[]</td>
  </tr>
  <tr>
    <td>last_name</td>
    <td>Job_NameLast</td>
    <td>Full Name[]</td>
  </tr>
  <tr>
    <td>last_name</td>
    <td>Job_NameLast</td>
    <td>Full Name[]</td>
  </tr>
  <tr>
    <td>phone</td>
    <td>Job_PhoneOffice</td>
    <td>Main Phone</td>
  </tr>
  <tr>
    <td>email</td>
    <td>Job_EmailTo</td>
    <td>Main Email</td>
  </tr>
  <tr>
    <td>alt_phone</td>
    <td>Job_PhoneAlt</td>
    <td>Alt. Phone</td>
  </tr>
  <tr>
    <td>cc</td>
    <td>Job_EmailCC</td>
    <td>CC Email</td>
  </tr>
  <tr class="table-danger">
    <td>additional_contact_ref[contact_value] where additional_contact_ref['contact_name = 'mobile]</td>
    <td>mobile</td>
    <td>Mobile</td>
  </tr>
  <tr>
    <td>fax</td>
    <td>Job_PhoneFax</td>
    <td>Fax</td>
  </tr>
  <tr>
    <td>bill_addr1</td>
    <td></td>
    <td>Invoice/BillTo['Company']</td>
  </tr>
  <tr>
    <td>bill_addr2</td>
    <td></td>
    <td>Invoice/BillTo['Att. Name']</td>
  </tr>
  <tr>
    <td>bill_addr3</td>
    <td></td>
    <td>Invoice/BillTo['Address']</td>
  </tr>
  <tr>
    <td>bill_addr4</td>
    <td></td>
    <td>Invoice/BillTo['Address2']</td>
  </tr>
  <tr>
    <td>bill_city</td>
    <td></td>
    <td>Invoice/BillTo['City']</td>
  </tr>
  <tr>
    <td>bill_state</td>
    <td></td>
    <td>Invoice/BillTo['State']</td>
  </tr>
  <tr>
    <td>bill_postal_code</td>
    <td></td>
    <td>Invoice/BillTo['Zip']</td>
  </tr>
  <tr>
    <td>ship_addr1</td>
    <td></td>
    <td>Ship To['Company']</td>
  </tr>
  <tr>
    <td>ship_addr2</td>
    <td></td>
    <td>Ship To['Name']</td>
  </tr>
  <tr>
    <td>ship_addr3</td>
    <td></td>
    <td>Ship To['Address']</td>
  </tr>
  <tr>
    <td>ship_addr4</td>
    <td></td>
    <td>Ship To['Address2']</td>
  </tr>
  <tr>
    <td>ship_city</td>
    <td></td>
    <td>Ship To['City']</td>
  </tr>
  <tr>
    <td>ship_state</td>
    <td></td>
    <td>Ship To['State']</td>
  </tr>
  <tr>
    <td>ship_postal_code</td>
    <td></td>
    <td>Ship To['Zip']</td>
  </tr>
  <tr>
    <td>(case is_active when 0 then "X" else "" end)</td>
    <td>Job_InactiveFlag</td>
    <td>Job is inactive</td>
  </tr>
  <tr class="bg-danger">
    <td>sales_rep</td>
    <td>sales_rep</td>
    <td>Rep</td>
  </tr>
  <tr>
    <td>job_status</td>
    <td>Job_Status</td>
    <td>Status</td>
  </tr>
  <tr>
    <td>job_start_date</td>
    <td>Job_DateStartActual</td>
    <td>Actual Start Date</td>
  </tr>
  <tr>
    <td>job_projected_end_date</td>
    <td>Job_DateEndProjected</td>
    <td>Project End Date</td>
  </tr>
  <tr>
    <td>job_end_date</td>
    <td>Job_DateEndActual</td>
    <td>Actual End Date</td>
  </tr>
  <tr class="table-danger">
    <td>list_id</td>
    <td>list_id</td>
    <td>-</td>
  </tr>
  <tr class="table-danger">
    <td>full_name</td>
    <td>full_name</td>
    <td>- (maybe use for breadcrumbs)</td>
  </tr>


  </tbody>
</table>
