<h1>Projects</h1>

<table class="table table-striped">

  <thead>
  <tr>
    <th>QB</th>
    <th>Portal</th>
    <th>Label</th>
  </tr>
  </thead>
  <tbody>
  <tr class="table-primary">
    <td>full_name</td>
    <td>full_name</td>
    <td>(Breadcrumb)</td>
  </tr>
  <tr>
    <td>job_start_date</td>
    <td>Project_DateStartActual</td>
    <td>Actual Start Date</td>
  </tr>
  <tr>
    <td>job_projected_end_date</td>
    <td>Project_DateEndEstimated</td>
    <td>Project End Date</td>
  </tr>
  <tr>
    <td>job_end_date</td>
    <td>Project_DateEndActual</td>
    <td>Actual End Date</td>
  </tr>
  <tr>
    <td>salutation</td>
    <td>Project_NameSalutation</td>
    <td>Full Name[]</td>
  </tr>
  <tr>
    <td>first_name</td>
    <td>Project_NameFirst</td>
    <td>Full Name[]</td>
  </tr>
  <tr>
    <td>middle_name</td>
    <td>Project_NameMiddle</td>
    <td>Full Name[]</td>
  </tr>
  <tr>
    <td>last_name</td>
    <td>Project_NameLast</td>
    <td>Full Name[]</td>
  </tr>
  <tr>
    <td>phone</td>
    <td>Project_PhoneMain</td>
    <td>Main Phone</td>
  </tr>
  <tr>
    <td>email</td>
    <td>Project_EmailMain</td>
    <td>Main Email</td>
  </tr>
  <tr>
    <td>alt_phone</td>
    <td>Project_PhoneAlternate</td>
    <td>Alt. Phone</td>
  </tr>
  <tr>
    <td>cc</td>
    <td>Project_EmailCC</td>
    <td>CC Email</td>
  </tr>
  <tr>
    <td>additional_contact_ref[contact_value] where additional_contact_ref['contact_name = 'mobile]</td>
    <td>Project_PhoneCell</td>
    <td>Mobile</td>
  </tr>
  <tr>
    <td>fax</td>
    <td>Project_PhoneFax</td>
    <td>Fax</td>
  </tr>
  <tr>
    <td>bill_addr1</td>
    <td>bill_addr1</td>
    <td>Invoice/BillTo['Company']</td>
  </tr>
  <tr>
    <td>bill_addr2</td>
    <td>bill_addr2</td>
    <td>Invoice/BillTo['Att. Name']</td>
  </tr>
  <tr>
    <td>bill_addr3</td>
    <td>bill_addr3</td>
    <td>Invoice/BillTo['Address']</td>
  </tr>
  <tr>
    <td>bill_addr4</td>
    <td>bill_addr4</td>
    <td>Invoice/BillTo['Address2']</td>
  </tr>
  <tr>
    <td>bill_city</td>
    <td>bill_city</td>
    <td>Invoice/BillTo['City']</td>
  </tr>
  <tr>
    <td>bill_state</td>
    <td>bill_state</td>
    <td>Invoice/BillTo['State']</td>
  </tr>
  <tr>
    <td>bill_postal_code</td>
    <td>bill_postal_code</td>
    <td>Invoice/BillTo['Zip']</td>
  </tr>
  <tr>
    <td>ship_addr1</td>
    <td>Project_Address1</td>
    <td>Ship To['Company']</td>
  </tr>
  <tr>
    <td>ship_addr2</td>
    <td>Project_Address2</td>
    <td>Ship To['Name']</td>
  </tr>
  <tr>
    <td>ship_addr3</td>
    <td>ship_addr3</td>
    <td>Ship To['Address']</td>
  </tr>
  <tr>
    <td>ship_addr4</td>
    <td>ship_addr4</td>
    <td>Ship To['Address2']</td>
  </tr>
  <tr>
    <td>ship_city</td>
    <td>Project_City</td>
    <td>Ship To['City']</td>
  </tr>
  <tr>
    <td>ship_state</td>
    <td>Project_State</td>
    <td>Ship To['State']</td>
  </tr>
  <tr>
    <td>ship_postal_code</td>
    <td>Project_Zip</td>
    <td>Ship To['Zip']</td>
  </tr>
  <tr>
    <td>is_active</td>
    <td>Project_IsClosed (rename to is_active)</td>
    <td>Job is inactive</td>
  </tr>
  <tr>
    <td>sales_rep</td>
    <td>sales_rep</td>
    <td>sales_rep</td>
  </tr>

  </tbody>
</table>
<hr/>



<div class="alert alert-info">
  <h4 class="alert-heading">Mysql Alter Tables Statements - Projects</h4>
  <p>
    ALTER TABLE Project DROP COLUMN FK_ProgMan_Employees_PKEY;
    ALTER TABLE Project DROP COLUMN FK_ProjMan_Employees_PKEY;
    ALTER TABLE Project DROP COLUMN FK_TechLead_Employees_PKEY;
    ALTER TABLE Project DROP COLUMN FK_Foreman_Employees_PKEY;
    ALTER TABLE Project DROP COLUMN FK_TechForeman_Employees_PKEY;
    ALTER TABLE Project DROP COLUMN Project_IsClosed;
    ALTER TABLE Project DROP COLUMN Project_UseCase;
    ALTER TABLE Project ADD bill_addr1 varchar(41) DEFAULT NULL;
    ALTER TABLE Project ADD bill_addr2 varchar(41) DEFAULT NULL;
    ALTER TABLE Project ADD bill_addr3 varchar(41) DEFAULT NULL;
    ALTER TABLE Project ADD bill_addr4 varchar(41) DEFAULT NULL;
    ALTER TABLE Project ADD bill_city varchar(31) DEFAULT NULL;
    ALTER TABLE Project ADD bill_state varchar(41) DEFAULT NULL;
    ALTER TABLE Project ADD bill_postal_code varchar(31) DEFAULT NULL;
    ALTER TABLE Project ADD ship_addr3 varchar(41) DEFAULT NULL;
    ALTER TABLE Project ADD ship_addr4 varchar(41) DEFAULT NULL;
    ALTER TABLE Project ADD list_id varchar(41) DEFAULT NULL;
    ALTER TABLE Project ADD full_name varchar(209) DEFAULT NULL;
    ALTER TABLE Project ADD is_active tinyint(1) DEFAULT true;
    ALTER TABLE Project ADD sales_rep varchar(5) DEFAULT NULL;
    ALTER TABLE Project ADD UNIQUE KEY `list_id` (`list_id`) USING BTREE;
    ALTER TABLE Project ADD UNIQUE KEY `full_name` (`full_name`) USING BTREE;
  </p>
  <hr>
</div>

<div class="alert alert-info">
  <h4 class="alert-heading">Mysql Grant Statement - qb user on Thresher and ThresherSB</h4>
  REVOKE ALL PRIVILEGES ON `Thresher`.`Project` FROM 'qb'@'%';
  GRANT SELECT, INSERT (`Project_PKEY`, `CreationTimeStamp`, `CreationUser`, `LastModificationTimeStamp`, `LastModificationUser`, `FK_Customers_PKEY`, `FK_Jobs_PKEY`, `full_name`, `is_active`), UPDATE (`Project_PKEY`, `CreationTimeStamp`, `CreationUser`, `LastModificationTimeStamp`, `LastModificationUser`, `FK_Customers_PKEY`, `FK_Jobs_PKEY`, `Project_DateEndEstimated`, `Project_DateStartActual`, `Project_DateEndActual`, `Project_NameSalutation`, `Project_NameFirst`, `Project_NameMiddle`, `Project_NameLast`, `Project_PhoneMain`, `Project_EmailMain`, `Project_PhoneAlternate`, `Project_EmailCC`, `Project_PhoneCell`, `Project_PhoneFax`, `Project_Address1`, `Project_Address2`, `Project_City`, `Project_State`, `Project_Zip`, `list_id`, `full_name`, `is_active`, `sales_rep`, `bill_addr1`, `bill_addr2`, `bill_addr3`, `bill_addr4`, `bill_city`, `bill_state`, `bill_postal_code`, `ship_addr3`, `ship_addr4`) ON  `Thresher`.`Project` TO 'qb'@'%';
</div>


<div class="alert alert-info">
  <h4 class="alert-heading">Mysql Grant Statement - dblord/sblord users on Thresher</h4>
  REVOKE ALL PRIVILEGES ON `Thresher`.`Project` FROM 'dblord'@'%'; GRANT SELECT, UPDATE (`LastModificationTimeStamp`, `LastModificationUser`, `Project_Name`, `Project_Type`, `Project_DateStartEstimated`, `Project_RoughInStart`, `Project_RoughInEnd`, `Project_DeviceInstallStart`, `Project_DeviceInstallEnd`, `Project_CommissioningStart`, `Project_CommissioningEnd`, `Project_ScopeText`, `Project_Address_Parking1`, `Project_Address_Parking2`, `Project_Park_1_Address`, `Project_Park_1_Address_City`, `Project_Park_1_Address_State`, `Project_Park_1_Address_Zip`, `Project_Park_2_Address`, `Project_Park_2_Address_City`, `Project_Park_2_Address_State`, `Project_Park_2_Address_Zip`, `Project_PercentComplete`, `Project_Status`, `Project_QuotedTechLabor`, `Project_QuotedRILabor`, `Project_QuotedDILabor`, `Project_QuotedCOLabor`, `Project_QuotedEngLabor`, `Project_QuotedPMLabor`, `Project_QuotedLgstLabor`, `Project_QuotedMaintLabor`) ON `Thresher`.`Project` TO 'dblord'@'%';
</div>

<h4 class="bg-warning text-center">WHEN going live:</h4>
<ol class="bg-warning">
  <li>Run the "alter table" statement on Project table.</li>
  <li>Export the project_full_names view to a real table, Project2.</li>
  <li>IMPORTANT! RUN THIS COMMAND TO FIND DUPLICATE projects - HAVE TO FIX THE DUPLICATE projects BEFORE PROCEEDING: SELECT count(*) AS count, project_full_name FROM Project2 GROUP BY project_full_name HAVING count > 1. This will show projects where there are 2 rows in the portal that match on full_name. Delete/move dupes before proceeding.</li>
  <li>Run permissions commands for qb user</li>
  <li>Run this command:  UPDATE `Project` INNER JOIN `Project2` ON `Project2`.`project_id` = `Project`.`Project_PKEY` SET `Project`.`full_name` = Project2.project_full_name</li>
  <li>Delete the Project2 table.</li>
  <li>Run the web connector inital query for Projects</li>
  <li>Run permissions commands for dblord</li>
  <li>Make the portal branches with the new QB interface live.</li>
</ol>