	<div class="row" style="background-color: #005B9A; border: 0; color: #fff; vertical-align: middle; text-align: center; padding:5px 0;">
		<div class="col-xs-8" style="text-align: left;">
			Customer & Job
		</div>
		<div class="col-xs-2">&emsp;</div>
		<div class="col-xs-2">&emsp;</div>
		<div class="col-xs-2">&emsp;</div>
		<div class="col-xs-2">&emsp;</div>
		<div class="col-xs-2">&emsp;</div>
		<div class="col-xs-2">
			Open
		</div>
		<div class="col-xs-2">
			Paid
		</div>
		<div class="col-xs-2">
			Total
		</div>
	</div>
<%= render partial: 'customer', locals: {customer: @customer} %>