<div class="row">
<div class="col-xs-24">
<h1 id="header" class="header"><%=@customer.full_name%></h1>
</div>
</div>
<div class="row">
<div class="col-xs-24" role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-justified bg-info" id="customer_header" role="tablist">
    <li role="presentation" class="active">
      <a href="#customerinfo" aria-controls="customerinfo" role="tab" data-toggle="tab">Customer Info</a>
    </li>
    <li role="presentation">
      <a href="#tree" aria-controls="tree" role="tab" data-toggle="tab">Tree</a>
    </li>
    <li role="presentation">
      <a href="#projects" aria-controls="projects" role="tab" data-toggle="tab">Projects</a>
    </li>
    <li role="presentation">
      <a href="#documents" aria-controls="documents" role="tab" data-toggle="tab">Documents</a>
    </li>
    <li role="presentation">
      <a href="#tickets" aria-controls="tickets" role="tab" data-toggle="tab">Tickets</a>
    </li>
    <li role="presentation">
      <a href="#schedule" aria-controls="schedule" role="tab" data-toggle="tab">Schedule</a>
    </li>
    <li role="presentation">
      <a href="#rma" aria-controls="rma" role="tab" data-toggle="tab">RMA</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="customerinfo"><%= render 'info' %></div>
    <div role="tabpanel" class="tab-pane" id="tree"><%= render partial: 'tree' %></div>
    <div role="tabpanel" class="tab-pane" id="projects"><%= render partial: 'projects' %></div>
    <div role="tabpanel" class="tab-pane" id="documents">Documents</div>
    <div role="tabpanel" class="tab-pane" id="tickets">Tickets</div>
    <div role="tabpanel" class="tab-pane" id="schedule">Schedule</div>
    <div role="tabpanel" class="tab-pane" id="rma">RMA</div>
  </div>
</div>
</div>