<div class="row">
	<div class="col-xs-24">
		<%= render partial: 'customers/search_container' %>
	</div>
</div>
<div class="row">
	<div class="col-xs-24">
		<%= render partial: 'customers/filter_container' %>
	</div>
</div>
