<div class="row">
  <div class="col-lg-12">
    <h1 id="successHeader" class="hidden text-center">Successful Imports</h1>
    <table id="success" class="hidden table table-condensed table-bordered table-striped">
      <thead>
      <tr>
        <th>Employee Name</th>
        <th>Customer/Job</th>
        <th>Notes</th>
        <th>Duration</th>
        <th>Date</th>
      <tbody id="previousImports">
      </tbody>
    </table>

  </div>

</div>