/*  COLORS   */

// brand
$thresher-blue: hsl(202, 100%, 50%);

// darker and lighter variations
$thresher-blue-darkest: hsl(202, 100%, 5%);
$thresher-blue-darker: hsl(202, 100%, 20%);
$thresher-blue-dark: hsl(202, 100%, 35%);
$thresher-blue-light: hsl(202, 100%, 65%);
$thresher-blue-lighter: hsl(202, 100%, 80%);
$thresher-blue-lightest: hsl(202, 100%, 95%);




// bootstrap theme color overrides
$brand: $thresher-blue;
$info: $thresher-blue-light;
$primary: $thresher-blue-dark;
$success: hsl(165, 100%, 30%);
$danger: hsl(365, 100%, 48%);
$warning: hsl(30, 100%, 60%);
$grey: hsl(0, 0%, 50%);
$grey-lighter: hsl(0,0%, 75%);
$grey-darker: hsl(0, 0%, 25%);
$grey-lightest: hsl(0,0%, 90%);
$grey-darkest: hsl(0,0%, 5%);


/*  BREAKPOINTS */
// breakpoint where the navbar goes from across the top, to a sidebar
// $breakpoint-sidebar-appears: 1200px;
// breakppoint where the "collapse" button appears in view:
// $breakpoint-collapse-hides: 768px;