  <!-- <div id="newsBanner"><a href="http://www.crestron.com/downloads/pdf/inside_stories/269/Twitter.pdf"><font color="#ffffff"><b><span style='margin-left:25px;'>Press Release: Click to read our exciting write up at Crestron.com on our recent Twitter installation</span></b></font></a></div>-->
  <div id="newsBanner"><a href="http://www.crestron.com/downloads/pdf/inside_stories/276/Rocket_Fuel.pdf"><font color="#ffffff"><b><span style='margin-left:25px;'>Press Release: Click to read our exciting write up at Crestron.com on our recent Rocket Fuel installation</span></b></font></a></div>
   <!--<div id="newsBanner">&nbsp;
   <a href="http://www.evite.com/event/02FCFMGF4JDRR4UH4EPFMCKFOERSYU?utm_source=NA&utm_medium=sharable_invite&utm_campaign=send_sharable_link"><font color="#ffffff"><b><span style='margin-left:25px;'>Join us for our Open House Oct. 8th Click here to RSVP</span></b></font></a>

   </div>-->

   <div role="main" class="main">
    <div id="content" class="content full">


     <!---slider-->
              <br>
<div id="mySlider" class="evoslider rotation"> <!-- start evo slider -->

    <dl>

     <dt>

         <span class="title"><font color="ffffff"><font size="+2">Presentation Spaces</font></font></span>
     </dt>
     <dd data-src="/slideshow/presentationspace.png" data-text="overlay" data-thumb="">

         <div class="evoText">
             <h2>Presentation Spaces</h2>

         </div>

     </dd>

     <dt>

         <span class="title"><font color="ffffff"><font size="+2">Boardrooms</font></font></span>
     </dt>
     <dd data-src="/slideshow/boardrooms.png" data-text="overlay" data-thumb="">

         <div class="evoText">
             <h2>Boardrooms</h2>

         </div>

     </dd>


    <dt>

         <span class="title"><font color="ffffff"><font size="+2">Audio & Video Conferencing</font></font></span>
     </dt>
     <dd data-src="/slideshow/av_conf.png" data-text="overlay" data-thumb="">

         <div class="evoText">
             <h2>Audio & Video Conferencing</h2>

         </div>

     </dd>

         <dt>

         <span class="title"><font color="ffffff"><font size="+2">Video Walls</font></font></span>
     </dt>
     <dd data-src="/slideshow/sq_video_wall.png" data-text="overlay" data-thumb="">

         <div class="evoText">
             <h2>Video Walls</h2>

         </div>

     </dd>

            <dt>

         <span class="title"><font color="ffffff"><font size="+2">Command and Control</font></font></span>
     </dt>
     <dd data-src="/slideshow/commandcontrol.png" data-text="overlay" data-thumb="">

         <div class="evoText">
             <h2>Command and Control</h2>

         </div>

     </dd>


             <dt>

         <span class="title"><font color="ffffff"><font size="+2">Digital Signage</font></font></span>
     </dt>
     <dd data-src="/slideshow/digital_signage.png" data-text="overlay" data-thumb="">

         <div class="evoText">
             <h2>Digital Signage</h2>

         </div>

     </dd>


               <dt>

         <span class="title"><font color="ffffff"><font size="+2">Control Systems</font></font></span>
     </dt>
     <dd data-src="/slideshow/controlsys.png" data-text="overlay" data-thumb="">

         <div class="evoText">
             <h2>Control Systems</h2>

         </div>

     </dd>





    </dl>

</div> <!-- end evo slider -->

<script type="text/javascript">

    var mySlider = $("#mySlider").evoSlider({
        mode: "slider",                  // Sets slider mode ("accordion", "slider", or "scroller")
        width: 725,                         // The width of slider
        height: 415,                        // The height of slider

        slideSpace: 5,                      // The space between slides
        paddingRight: 0,                    // Padding right of the container/frame
        titleClockWiseRotation: false,      // Rotates title bar by clock wise
        hideCurrentTitle: false,            // Hides active title bar
        startIndex: 0,                      // Start home when initialized
        showIndex: true,                    // Displays home in toggle icon and bullets control

        mouse: true,                        // Enables mousewheel scroll navigation
        keyboard: true,                     // Enables keyboard navigation (left and right arrows)

        speed: 500,                         // Slide transition speed in ms. (1s = 1000ms)
        easing: "swing",                    // Defines the easing effect mode
        loop: true,                         // Rotate slideshow
        lazyLoad: false,                    // Enables lazy load feature

        autoplay: true,                     // Sets EvoSlider to play slideshow when initialized
        interval: 7000,                     // Slideshow interval time in ms
        pauseOnHover: true,                 // Pause slideshow if mouse over the slide
        pauseOnClick: false,                 // Stop slideshow if playing
        showPlayButton: false,               // Shows play/pause button when initialized
        playButtonAutoHide: false,          // Shows play/pause button on hover and hide it when mouseout

        toggleIcon: true,                   // Enables toggle icon

        directionNav: false,                 // Shows directional navigation when initialized
        directionNavAutoHide: false,        // Shows directional navigation on hover and hide it when mouseout
        showDirectionText: false,           // Shows text on direction navigation
        nextText: "Next",                   // Next button text
        prevText: "Prev",                   // Prev button text

        controlNav: true,                   // Enables control navigation
        controlNavMode: "rotator",          // Sets control navigation mode ("bullets", "thumbnails", or "rotator")
        controlNavVertical: true,          // Defines control navigation to display vertically
        controlNavPosition: "outside",       // Sets control navigation position ("inside" or "outside")
        controlNavVerticalAlign: "right",   // Sets position of the vertical control navigation ("left" or "right")
        controlSpace: 15,                    // The space between outside control navigation with slides
        controlNavAutoHide: false,          // Shows control navigation on mouseover and hide it when mouseout

        showRotatorTitles: true,            // Shows rotator titles
        showRotatorThumbs: true,            // Shows rotator thumbnails
        rotatorThumbsAlign: "left",         // Thumbnails float position

        classBtnNext: "evo_next",           // The CSS class used for the next button
        classBtnPrev: "evo_prev",           // The CSS class used for the previous button
        classExtLink: "evo_link",           // The CSS class used for the external links
        permalink: false,                   // Enable or disable linking to slides via the url

        autoHideText: false,                // Shows overlay text on mouseover and hide it on mouseout
        outerText: false,                   // Enables outer text
        outerTextPosition: "right",         // Outer text align ("left" or "right")
        outerTextSpace: 5,                  // Space between text and slide

        linkTarget: "_blank",               // The target attribute of the image link ("_blank", "_parent", "_self", or "_top")
        imageScale: "none",             // Sets image scale option ("fullSize", "fitImage", "fitWidth", "fitHeight", "none")

        before: function(){},               // Callback, triggers before slide transition
        after: function(){},                // Callback, triggers after slide transition

        youtube: {                          // Customize the YouTube player using the player parameters
            autoplay: 0,
            showinfo: 1,
            autohide: 2
        },

        vimeo: {                            // Customize the Vimeo player using the player parameters
            title: 1,
            byline: 1,
            portrait: 1,
            autoplay: 0
        },

        dailymotion: {                      // Customize the Dailymotion player using the player parameters
            autoplay: 0,
            logo: 0,
            foreground: "%23F7FFFD",
            background: "%23FFC300",
            highlight: "%23171D1B",
            info: 1
        }
    });


</script>


                <!---end slider-->



                    </div></div>




   <br><br>
   <div class="home-intro"><h2><center><br><font color="#ffffff"><b>Connecting the people who connect the world.</b></font></center></h2><br></div>
     <div class="container">
      <div class="row center">
       <div class="span12">
        <h2><span id="littleSmaller">What makes Thresher Communication & Productivity Inc.</span><Br> <b>different</b>? </h2>
        <h4 class="lead tall">Thresher knows from experience that AV systems must be easy and cost-effective. We have a proven track record of providing accessible solutions that users understand and can navigate intuitively. Our value-engineered solutions deliver the impact you desire. We bring together multiple hand-selected components to carefully reflect your needs and lower your costs.</h4>


<div class="FooterGallery">
<img width="200" height="133" src="/hometable/1.jpg">
<img width="200" height="133" src="/hometable/2.jpg">
<img width="200" height="133" src="/hometable/3.jpg">
<img width="200" height="133" src="/hometable/4.jpg">
<img width="200" height="133" src="/hometable/5.jpg">
<img width="200" height="133" src="/hometable/6.jpg">
<div>
<br><br>

</div>
 </div>




       </div>
           </div>
          </div>


