<!DOCTYPE html>
<!--[if IE 8]>   <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>   <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
 <head>

  <!-- Basic -->
  <meta charset="utf-8">
  <title>Thresher Communication & Productivity</title>
  <meta name="keywords" content="thresher communications, thresher communications and productivity, thresher communications & productivity, av integration, av silicon valley, av bay area, av install, thresher, sunnyvale, thresher av, thresher tech, thresher sunnyvale" />
  <meta name="description" content="Thresher Communication and Productivity">
  <meta name="author" content="alopias.com">



  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Web Fonts  -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

  <!-- Libs CSS -->
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/fonts/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="flexslider/flexslider.css" media="screen" />
  <link rel="stylesheet" href="magnific-popup/magnific-popup.css" media="screen" />


  <!-- Theme CSS -->
  <link rel="stylesheet" href="css/theme.css">
  <link rel="stylesheet" href="css/theme-elements.css">
  <link rel="stylesheet" href="css/theme-animate.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="css/custom.css">

  <!-- Skin CSS -->
  <link rel="stylesheet" href="css/thresherblue.css">

  <!-- Responsive CSS -->
   <link rel="stylesheet" href="css/bootstrap-responsive-boxed.css" />
  <link rel="stylesheet" href="css/theme-responsive.css" />


  <!-- Favicons -->
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/icon_72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/icon_114x114.png">
  <link rel="apple-touch-icon" sizes="144x144" href="images/icon_114x114.png">



  <!-- Head Libs -->
  <script src="js/modernizr.js"></script>

  <!--[if IE]>
   <link rel="stylesheet" href="css/ie.css">
  <![endif]-->

  <!--[if lte IE 8]>
   <script src="vendor/respond.js"></script>
  <![endif]-->

<!---java stuff for slideshow -->


    <link rel="Stylesheet" type="text/css" href="css/evoslider.css" />
    <link rel="Stylesheet" type="text/css" href="css/rotation.css" />


<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/jquery.evoslider-2.1.4.js"></script>

<!---end slideshow stuff-->

<!--- analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44568803-1', 'alopias.com');
  ga('send', 'pageview');

</script>

<!---end analytics-->

 </head>


    <body class="boxed">

  <div class="body">
   <header>
    <div class="container">

     <h1 class="logo">
      <a href="home">
       <img style="white-space:pre;"  alt="Thresher Communication &
       Productivity" src="images/thresher_website_logo.png">
      </a>
     </h1>

     <nav>
      <ul class="nav nav-pills">
       <p align="right"><font size="+2"><font color="000000">AV solutions that work.</font></font></p>
      </ul>
     </nav>
     <div class="social-icons">
      <ul class="social-icons">
        <a href="https://www.facebook.com/pages/Thresher-Communication-Productivity/117866631597743?ref=sgm" target="_blank" title="Facebook"><img src="images/fb_logo_sm.png"></a>
     <a href="https://twitter.com/ThresherAV" target="_blank" title="Twitter"><img src="images/twitter_logo_sm.png"></a>
       <a href="https://www.linkedin.com/company/970244" target="_blank" title="Linkedin"><img src="images/linkedin_logo_sm.png"></a>
      </ul>
     </div>
     <nav>
      <ul class="nav nav-pills nav-main" id="mainMenu">
       <li class="dropdown active">
        <a href="home">
         Home
        </a>

       </li>
       <li>
        <a href="services">Services</a>
       </li>
       <li>
        <a href="contact-us">
         Contact Us
       </a></li>


                            <li class="dropdown">
        <a class="dropdown-toggle" href="about-us">
         Company
         <i class="icon-angle-down"></i>
        </a>
        <ul class="dropdown-menu">

         <li><a href="/about-us">About Us</a></li>
         <li><a href="/meet-the-team">Meet The Team</a></li>
                                    <li><a href="/careers">Careers at Thresher</a></li>
         <li><a href="/pressRelease">Press Release</a></li>
                                    <li><a href="/portal">Portal</a></li>
        </ul>
       </li>
      </ul>





     </nav>
    </div>
   </header>

  <%= yield %>

                <!---end slider-->



         </div>


   <footer id="footer">
    <div class="container">
     <div class="span3">
                        <h4>Get in Touch</h4>
                       <img src="images/phone.png"> <font color=ffffff>408.780.3066</font><br>
                       <img src="images/email.png"> <a href="mailto:info@alopias.com">info@alopias.com</a><br>
                       <img style="padding-top:4px;" src="images/Thresher_Icon_Fax.png"> <font color=ffffff>408.701.2497</font><br>



                        </div>

      <div class="span3">
       <div class="contact-details">
        <h4>Shark Tank</h4>
        <font color=ffffff>234 E. Caribbean Dr <br>Sunnyvale, CA 94089</font><br><a href="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=234%2BCaribbean%2BDr%2BSunnyvale,%2BCA%2B94089&ie=UTF8&z=12&t=m&iwloc=near"><small><font color="#000000"><i class="icon-angle-right"> View on map</i></font></small></a>

       </div>
      </div>
      <div class="span2">
       <h4>Social</h4>
       <div class="social-icons">

         <a href="https://www.facebook.com/pages/Thresher-Communication-Productivity/117866631597743?ref=sgm" target="_blank" title="Facebook"><img src="images/fb_logo_white.png"></a>
     <a href="https://twitter.com/ThresherAV" target="_blank" title="Twitter"><img src="images/twitter_logo_white.png"></a>
       <a href="https://www.linkedin.com/company/970244" target="_blank" title="Linkedin"><img src="images/linkedin_logo_white.png"></a><br>

       </div>
      </div>

                      <div class="span2">
                      <h4>Navigate</h4>
     <a href="home">Home</a><br><a href="services">Services</a><br><a href="contact-us">Contact Us</a><br><font color="ffffff">Company</font><br><ul><i class="icon-angle-right"> <a href="about-us">About Us</a></i><br><i class="icon-angle-right"> <a href="meet-the-team">Meet The Team</a></i><br><i class="icon-angle-right"> <a href="careers">Careers</a></i><br><i class="icon-angle-right"> <a href="/portal">Portal</a></i></ul>


     </div>
    </div>
    <div class="footer-copyright">
     <div class="container">
      <div class="row">
       <div class="span2">
        <img src="images/footer_logo.png">
       </div>
       <div class="span7">
        <p><font color="3f3f3f">© Copyright 2015 by Thresher Communication & Productivity. All Rights Reserved.</font></p>
       </div>
       <div class="span3">
        <nav id="sub-menu">
         <ul>


          <li><a href="contact-us"><font color="3f3f3f"><i class="icon-angle-right"> Contact </i></font></a></li><li><a href="sitemap"><font color="3f3f3f"><i class="icon-angle-right"> Sitemap </i></font></a></li>
         </ul>
        </nav>
       </div>
      </div>
     </div>
    </div>
   </footer>


  <!-- Libs -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="vendor/jquery.js"><\/script>')</script>
  <script src="js/jquery.easing.js"></script>
  <script src="js/jquery.appear.js"></script>
  <script src="js/jquery.cookie.js"></script>

  <script src="js/bootstrap.js"></script>
  <script src="js/selectnav.js"></script>
  <script src="js/twitter.js"></script>
  <script src="js/jquery.themepunch.plugins.js"></script>
  <script src="js/jquery.themepunch.revolution.js"></script>
  <script src="flexslider/jquery.flexslider.js"></script>
  <script src="magnific-popup/magnific-popup.js"></script>
  <script src="js/jquery.validate.js"></script>

  <script src="js/plugins.js"></script>

  <!-- Current Page Scripts -->
  <script src="js/views/view.home.js"></script>

  <!-- Theme Initializer -->
  <script src="js/theme.js"></script>

  <!-- Custom JS -->






 </body>
</html>
